<%- include('./includes/header.ejs'); %>
<body>
    <div class="contact">
        <form method="POST" action="/editar-contato/editar" class="contact__item">
            <input class="form-control" type="text" name="nome" placeholder="Digite seu nome" value="<%- contatos[0].nome; %>">
            <input class="form-control" type="email" name="email" placeholder="Digite seu e-mail" value="<%- contatos[0].email; %>">
            <input class="form-control" type="tel" name="telefone" placeholder="(00) 0000-0000" value="<%- contatos[0].telefone; %>">
            <button class="btn-send" type="submit" name="enviar">Salvar</button>
        </form>
    </div>
<%- include('./includes/footer.ejs'); %>